<html lang="en">

<head>
  <!-- Required meta tags -->
  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1" />
  <!-- Bootstrap CSS -->
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet"
    integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous" />
  <script
    src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDJ4bDl_2PfZcWSDnlhrqSratd9bUAhKxY&callback=initMap"></script>
  <title>Destinasi</title>
</head>

<body class="position-relative w-100 h-100">
  <nav class="navbar navbar-expand-lg navbar-dark bg-primary">
    <div class="container-md">
      <a class="navbar-brand" href="#">SHINING BATU</a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavAltMarkup"
        aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
        <div class="navbar-nav ms-auto">
          <a class="nav-link active mx-3" href="/">Home</a>
          <a class="nav-link active mx-3" href="/destinasi">Destinasi</a>
          <a class="nav-link active mx-3" href="/mapbatu">Batu City Position</a>
          <a class="nav-link active mx-3" href="/about">About Me</a>
        </div>
      </div>
    </div>
  </nav>
  <section id="destinasi">
    <div class="container">
      <div class="row d-flex justify-content-center">
        <div class="input-group my-3 w-50">
          <input type="text" class="form-control" placeholder="Search Your Destination Here" />
          <button class="btn btn-outline-primary" type="button" id="button-addon2">
            Search
          </button>
        </div>
      </div>
      <div class="row d-flex align-items-center justify-content-evenly">

        {{#each results}}
        <div class="card col-md-5 my-3 text-center border-primary border-2">
          <img src="{{image}}" class="card-img-top" style="height: 350px" alt="{{image}}" />

          <div class="card-body">
            <h5 class="card-title">{{nama}}{{id_des}}</h5>
            <p class="card-text">
              {{deskripsi}}
            </p>
            <a data-bs-toggle="modal"
            href="#exampleModalToggle" role="button" class="btn btn-primary"
            onclick=setData({{id_des}})
            >Check Location
            </a>
            <p hidden id="dataNama{{id_des}}">{{nama}}</p>
            <p hidden id="datax{{id_des}}">{{latitude}}</p>
            <p hidden id="datay{{id_des}}">{{longitude}}</p>
            <p hidden id="dataimg{{id_des}}">{{image}}</p>
          </div>
        </div>
        {{/each}}
        {{!-- akhir --}}

      </div>
    </div>
    </div>
  </section>
  <!-- Modal -->
  <div class="modal fade" id="exampleModalToggle" aria-hidden="true" aria-labelledby="exampleModalToggleLabel"
    tabindex="-1">
    <div class="modal-dialog modal-xl modal-dialog-centered">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalToggleLabel">
            Location
            <span id="judullokasi"></span>
          </h5>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
          <div id="googleMap" style="width: 100%; height: 600px"></div>
        </div>
      </div>
    </div>
  </div>
  <script>
    function initMap(sumbux, sumbuy, direktorifileimg) {
      let lokasi = { lat: sumbux, lng: sumbuy };

      let map = new google.maps.Map(document.getElementById("googleMap"), {
        zoom: 15,
        center: lokasi,
      });

      let contentString =
        "<img style='width:300px !important' src='" + direktorifileimg + "'>";

      let infowindow = new google.maps.InfoWindow({
        content: contentString,
        position: lokasi,
      });

      let marker = new google.maps.Marker({
        position: lokasi,
        map: map,
      });

      infowindow.open(map, marker);
    }

    const containerjudullokasi = document.getElementById("judullokasi");
    let tombollokasi = document.querySelectorAll(
      ".card .card-body a.btn.btn-primary"
    );
    let lokasi, sumbux, sumbuy, fileimg;
    function setData(id) {
      console.log("asd"+id);
      lokasi = document.getElementById("dataNama"+id).innerText;
      var sumbuxs = document.getElementById("datax"+id).innerText;
      var sumbuys = document.getElementById("datay"+id).innerText;
      fileimg = document.getElementById("dataimg"+id).innerText;
      console.log(sumbuys);
      console.log(sumbuxs);
      sumbuy = parseFloat(sumbuys);
      sumbux = parseFloat(sumbuxs);
    }
    tombollokasi.forEach((e) => {
      e.addEventListener("click", function () {
        containerjudullokasi.innerHTML = lokasi;
        google.maps.event.addDomListener(
          window,
          "load",
          initMap(sumbux, sumbuy, fileimg)
        );
      });
    });
  </script>
  <footer class="bg-primary text-light w-100 text-center py-2">
    Sistem Pariwisata Kota Batu 2021
  </footer>
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js"
    integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p"
    crossorigin="anonymous"></script>
</body>

</html>